{% load static %}
<ul>
    <li>
        {% if user.is_authenticated %}
    <li>
        <a href="{% url 'auth:profile' user.pk %}"><i class="fal fa-user-circle"></i></a>
    </li>
    <li>
        <a href="{% url 'auth:logout' %}"><i class="fal fa-sign-out"></i></a>
    </li>
    {% else %}
    <li>
        <a href="{% url 'auth:login' %}"><i class="fal fa-sign-in"></i></i></a>
    </li>
    {% endif %}

    </li>
    <li>
        <a href="checkout.html">
            <i class="flaticon-random-button"></i>
        </a>
    </li>
    {% if request.get_full_path != '/favourites/' %}
    <li>
        <a href="{% url 'favourites:detail' %}"><i class="fal fa-heart"></i>
            {% if favourites %}
            <span class="cart-count">{{ favourites_len }}</span>
            {% endif %}
        </a>
    </li>
    {% endif %}
    {% if request.get_full_path != '/cart/' and request.get_full_path != '/order/checkout/' %}
    <li>
        <a href="" data-bs-toggle="modal" data-bs-target="#cartMiniModal">
            <i class="fal fa-shopping-basket"></i>
            {% if cart %}
            <span class="cart-count">{{ cart_len }}</span>
            {% endif %}
        </a>
        {% if cart %}
        <span class="cart-price">${{ cart.get_total }}</span>
        {% endif %}
    </li>
    {% endif %}
</ul>