{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>
    <section class="about__history pt-95 pb-75">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xxl-8 col-xl-10">
                    <div class="about__history-wrapper">
                        <div class="about__history-title-area">
                            <span class="about__history-title-pre">Our History</span>
                            <h3 class="about__history-title">
                                <span>Hello, We are Black.</span> <br>
                                With 20+ Years of Experience
                            </h3>
                        </div>
                        <p class="about__history-text">It is accompanied by a case that can contain up to three
                            different diffusers and can be used for dry storage of loose tea. The perfect way to enjoy
                            brewing tea on low hanging fruit to identify. Lighting is a minimal residence located in
                            Tokyo, Japan, designed by AYO. Large tiles were arranged on the counter top plate near the
                            window.</p>

                        <p>The perfect way to enjoy brewing tea on low hanging fruit to identify. Duis autem vel eum
                            iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu
                            feugiat nulla facilisis. For me, the most important part of improving at photography has
                            been sharing it. Sign up for an Exposure account, or post regularly to Tumblr, or both. Tell
                            people you’re trying to get better at photography. Talk about it. When you talk about it,
                            other people get excited about it. There are few plugins and apps available for this
                            purpose, many of them required a monthly subscription.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="about__gallery">
        <div class="container">
            <div class="row gx-2">
                <div class="col-xxl-8 col-xl-8 col-lg-8">
                    <div class="about__gallery-wrapper text-center ">
                        <div class="about__gallery-review include-bg mb-8"
                             data-background="{% static 'assets/img/about/about-img-1.jpg' %}"
                             style="background-image: url(&quot;assets/img/about/about-img-1.jpg&quot;);">
                            <h3>Alex Christopher</h3>
                            <span>PHOTOGRAPHER</span>
                            <p>Being a designer goes a step further than trying to evoke emotion, it’s trying to make a
                                reaction. It is objective-driven, and that’s what makes it interesting. Designing a
                                product is designing a relationship. Graphic design is the paradise of individuality,
                                eccentricity, heresy, abnormality, hobbies, and humor.</p>

                            <img src="assets/img/about/singature.png" alt="" class="about__signature">
                        </div>
                        <div class="row gx-2">
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                <div class="about__gallery-thumb w-img mb-10">
                                    <img src="{% static 'assets/img/about/about-img-3.jpg' %}" alt="">
                                </div>
                            </div>
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                <div class="about__gallery-thumb w-img mb-10">
                                    <img src="{% static 'assets/img/about/about-img-4.jpg' %}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4">
                    <div class="about__gallery-thumb mb-8 w-img">
                        <img src="{% static 'assets/img/about/about-img-2.jpg' %}" alt="">
                    </div>
                    <div class="about__gallery-thumb w-img">
                        <img src="{% static 'assets/img/about/about-img-5.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="about__offer pt-155 pb-130 mt-80 include-bg"
             data-background="{% static 'assets/img/bg/about-bg-1.jpg' %}">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xxl-8 col-xl-8 col-lg-10">
                    <div class="about__offer-content text-center">
                        <div class="about__offer-icon mb-20">
                            <img src="{% static 'assets/img/icon/ship.png' %}" alt="">
                        </div>
                        <h3>All Orders Are Free Shipping</h3>
                        <p>Donec vehicula cursus vestibulum lectus, sit eros integer varius cum turpis et quam congue
                            <br> accumsan ac bibendum ac in erat. Donec posuere consectetuer volutpat rutrum ac
                            sollicitudin quam quisque at interdum dignissim fringilla elit risus lorem condimentum eros
                            mollis. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="features-2__area mt-90 pb-85">
        <div class="container">
            <div class="row gx-0">
                <div class="col-xxl-4 offset-xxl-2 col-xl-5 offset-xl-1 col-lg-5 offset-lg-1 col-md-6">
                    <div class="features-2__item-2 features-2__item-pb-40 features-2__item-br features-2__item-bb text-center">
                        <div class="features-2__icon-2">
                            <img src="{% static 'assets/img/icon/trophy.png' %}" alt="">
                        </div>
                        <div class="features-2__content-2">
                            <h3 class="features-2__title-2">20+ Years of Experience</h3>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit accusantium doloremque laudantium,
                                totam rem aperiam eaque ipsa quae ab illo</p>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-6">
                    <div class="features-2__item-2 features-2__item-pb-40 features-2__item-bb text-center">
                        <div class="features-2__icon-2">
                            <img src="{% static 'assets/img/icon/user.png' %}" alt="">
                        </div>
                        <div class="features-2__content-2">
                            <h3 class="features-2__title-2">20+ Years of Experience</h3>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit accusantium doloremque laudantium,
                                totam rem aperiam eaque ipsa quae ab illo</p>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4 offset-xxl-2  col-xl-5 offset-xl-1 col-lg-5 offset-lg-1 col-md-6">
                    <div class="features-2__item-2 features-2__item-pt-65 features-2__item-br text-center">
                        <div class="features-2__icon-2">
                            <img src="{% static 'assets/img/icon/like.png' %}" alt="">
                        </div>
                        <div class="features-2__content-2">
                            <h3 class="features-2__title-2">20+ Years of Experience</h3>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit accusantium doloremque laudantium,
                                totam rem aperiam eaque ipsa quae ab illo</p>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4 col-xl-5  col-lg-5  col-md-6">
                    <div class="features-2__item-2 features-2__item-pt-65 text-center">
                        <div class="features-2__icon-2">
                            <img src="{% static 'assets/img/icon/pen.png' %}" alt="">
                        </div>
                        <div class="features-2__content-2">
                            <h3 class="features-2__title-2">20+ Years of Experience</h3>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit accusantium doloremque laudantium,
                                totam rem aperiam eaque ipsa quae ab illo</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}