{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>
    <!-- cart-area start -->
    <section class="cart-area pb-120 pt-80">
        <div class="container">
            <div class="row">
                <div class="col-12">
                        <div class="table-content table-responsive favourites">
                            {% if favourites %}
                                {% include 'favourites/includes/favourites_list-table.html' %}
                            {% else %}
                                {% include 'favourites/includes/empty_favourites.html' %}
                            {% endif %}
                        </div>
                </div>
            </div>
        </div>
    </section>
    <!-- cart-area end -->
</main>
{% endblock %}